<html lang="en"></html>

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>The Tech Word</title>
    <link rel="stylesheet" href="/css/style.css" />
    <script src="https://cdn.tailwindcss.com"></script>
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.css"
      rel="stylesheet"
    />
  </head>

<body>
    <header>
    <h1>The Tech Word</h1>
  <nav>
    <ul>
        <li><a>Home</a></li>
        <li><a>Dashboard</a></li>
        {{#if loggedIn}}
        <li><a>Logout</a></li>
        {{else}}
        <li><a>Login</a></li>
        {{/if}}
    </ul>
  </nav>
  </header>
  <main>
    {{ body }}
  </main>

      <script
      src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.js"
    ></script>
    {{#if loggedIn}}
      <script src="/js/logout.js"></script>
    {{/if}}

</body>
